page-special-offers {
    ul {
        padding: 0px;
        &.rating li {
            padding: 5px 5px !important;
            background: none;
            color: #cc1818;
            ion-icon {
                font-size: 1.5rem;
            }
        }
    }
    .item {
        color: #333 !important;
    } // This CSS add to set product Images and Description inside ion-card on 01/09/2018
    #productdec {
        padding: 0px !important;
    }
    .card-md {
        display: flex;
        flex-direction: column;
        width: 95%;
        margin: 5px;
        height: 97%;
    }
    .card-content-md {
        padding: 0px 15px;
        font-size: 1.4rem;
        line-height: 1.5;
    }
    .product .card-title-md {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        padding: 8px 0 0 0 !important;
    }
    .discount-off {
        padding: 2px;
    }
    .off-img-vg-img {
        margin-bottom: 4px;
    }
    .offerimg {
        //max-width: 60%;
        max-width: 85%;
        margin-left: -7px;
    }
    .vegimg {
        //max-width: 13%;
        max-width: 25%;
        padding-top: 2px; // margin-top: -21px;
    } // Added on 07/09/2018 to fix Product image area on ion-card
    #pro-img {
        height: 60%;
    }
    .product #pro-img img {
        height: auto;
    } // Changed this on 24/09/2018 because of new design changes 
    ion-card-content {
        .card-title-md {
            text-align: center;
        }
        .product-price {
            text-align: center;
        }
        .pro-ratings {
            text-align: center;
        }
        ul.rating li {
            padding: 0px 0px !important;
            margin: -1px !important;
        }
        ul.rating li ion-icon {
            font-size: 15px;
        }
        ul.rating {
            margin: 0px;
        }
        .pro-ratings rating {
            width: 100%;
            margin-bottom: 5px;
        }
    }
}
