<ion-header>
  <ion-navbar hideBackButton>
    <ion-buttons left>
      <button ion-button (click)="goBack()">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>
      {{heading_title}}
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>

  <form [formGroup]="forgPasswordForm">
    <div text-center>
      <p ion-text color="danger" *ngIf="submitAttempt && error">{{error}}</p>
      <p ion-text color="secondary" *ngIf="submitAttempt && success">{{success}}</p>
    </div>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label floating>{{email_txt}}</ion-label>
            <ion-input formControlName="email" type="text" [class.invalid]="!forgPasswordForm.controls.email.valid && (forgPasswordForm.controls.email.dirty || submitAttempt)"></ion-input>
          </ion-item>
          <p class="invalid-message" *ngIf="!forgPasswordForm.controls.email.valid  && (forgPasswordForm.controls.email.dirty || submitAttempt)">{{error_email}}</p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
  <div padding>
    <button ion-button color="primary" block (click)="send()">{{send_txt}}</button>
  </div>
</ion-content>