<ion-header>
  <ion-navbar hideBackButton>
    <ion-buttons left>
      <button ion-button (click)="goBack()">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>
      {{heading_title}}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-row text-center>
    <ion-col col-12>
      <button ion-button full (click)="AddAddress()">{{add_new_address_txt}}</button>
    </ion-col>
  </ion-row>

  <ion-list radio-group *ngIf="addresses?.length>0">
    <ion-item *ngFor="let address of addresses; let i = index;">
      <ion-label [innerHTML]="address.address"></ion-label>
      <ion-radio [value]="address" (ionSelect)="addressChange($event)"></ion-radio>
    </ion-item>
  </ion-list>

</ion-content>

<ion-footer *ngIf="addresses?.length>0">
  <ion-row text-center>
    <ion-col col-12>
      <button ion-button full color="primary" block (click)="save()">{{continue_txt}}</button>
    </ion-col>
  </ion-row>
</ion-footer>