page-login {
    .login-content .button-md-primary {
        margin-top: 15px;
    }
    .new-here{
        color: #cc1818 !important;
    }
    ion-label{
        color: #cc1818 !important;
    }
    .forgot-pass{
        color: #cc1818 !important;
    }

    .sign-in-with{
        color: #cc1818 !important;
    }
}