page-settings {
    .txt-grad {
        text-align: center;
        color: #cc1818;
        font-size: 15px;
        img {
            height: 20px;
            width: 20px;
            margin-top: -3px;
            position: absolute !important;
            margin-left: -25px;
        }
    }
}