page-categories {
    .menu-head {
        color: #cc1818;
    }
    .child_list {
        margin: 0px !important;
        .list-md {
            margin: 0px !important;
        }
        .label-md {
            margin: 0px !important;
        }
    }
}