<ion-header>
  <ion-navbar hideBackButton>
    <button start ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      {{heading_title}}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div>
    <ion-slides *ngIf="BannerData" #banSlides autoplay="3000" loop="true" speed="500" (ionSlideDidChange)="slideBannerChanged()">
      <ion-slide *ngFor="let slide of BannerData">
        <div>
          <img class="ban-img" src="{{slide.image}}" height="75" width="100">
        </div>
      </ion-slide>
    </ion-slides>
  </div>

  <h3>Featured Products</h3>
  <div>
    <ion-slides *ngIf="FeaturedData" #featuredSlides autoplay="3000" loop="true" speed="500" (ionSlideDidChange)="slideFeaturedChanged()">
      <ion-slide *ngFor="let slide of FeaturedData">
        <div>
          <img class="feat-img" src="{{slide.thumb}}" height="75" width="100">
          <p>{{slide.title}}</p>
        </div>
      </ion-slide>
    </ion-slides>
  </div>

  <h3>Leatest Products</h3>
  <div>
    <ion-slides *ngIf="LeatestData" #leatestSlides autoplay="3000" loop="true" speed="500" (ionSlideDidChange)="slideLeatestChanged()">
      <ion-slide *ngFor="let slide of LeatestData">
        <div>
          <img class="feat-img" src="{{slide.image_thumb}}" height="75" width="100">
          <p>{{slide.title}}</p>
        </div>
      </ion-slide>
    </ion-slides>
  </div>

  <h3>Best Sellers</h3>
  <div>
    <ion-slides *ngIf="SellerData" #sellerSlides autoplay="3000" loop="true" speed="500" (ionSlideDidChange)="slideBestsellerChanged()">
      <ion-slide *ngFor="let slide of SellerData">
        <div>
          <img class="feat-img" src="{{slide.image_thumb}}" height="75" width="100">
          <p>{{slide.title}}</p>
        </div>
      </ion-slide>
    </ion-slides>
  </div>

  <h3>Best Sellers</h3>
  <div>
    <ion-slides *ngIf="Advdata" autoplay="3000" loop="true" speed="500" (ionSlideDidChange)="slideChanged()">
      <ion-slide *ngFor="let slide of Advdata">
        <div>
          <img class="feat-img" src="{{slide.image_thumb}}" height="75" width="100">
          <p>{{slide.title}}</p>
        </div>
      </ion-slide>
    </ion-slides>
  </div>
</ion-content>