page-home {
   
    .no-scroll .scroll-content {
        overflow: hidden;
    }
    .ban-img {
        margin-top: 10px;
        height: 100px !important;
    }
    .feat-img {
        margin-top: 10px;
        height: 100px !important;
    }
}